h2 > span{
	font-size:16px;
}

body{
	background-color:#eee;
}


/** Leaderboard **/

.leaderboard{
	width:100%;
}

.leaderboard > thead{
	color: lightgray;
	font-size:80%;
}

.leaderboard .consolation{
	border-top:1px solid gray;
}

.leaderboard td{
	
	padding:4px;
}

.leaderboard tr > td:first-child{
	text-align: center;
	width:30px;
}

.leaderboard tr > td:last-child{
	text-align: center;
	width:200px;
}

.leaderBoard tbody > tr:first-child{
    border-bottom: 2px solid gold;
    font-size:120%;
    font-weight: bold;
}

.leaderBoard tbody > tr:nth-child(2){
    border-bottom: 2px solid silver;
    font-weight: bold;
}
.leaderBoard tbody > tr:nth-child(3){
   border-bottom: 2px solid #CD7F32;
    font-weight: bold;
}

.top-buffer { margin-top:30px; }
.left-buffer { margin-left:30px;}
.bottom-buffer {margin-bottom:30px}


/*** HELDEN  ****/
.helden table{
	width:100%;
}
.helden td{
	text-align: center;
	border-bottom: 1px solid gray;
	padding:3px;
}

textarea.proper-sized{
	width:100%;
	max-width: 100%;
	min-width: 100%;
	margin-bottom: 7px;
}

.feeling img{
	max-height:50px;
	max-width:30%;
	margin:10px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}


.feeling img.selected{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}


.feeling img:hover{
	cursor:pointer;
}

.left{
	float:left;
}

.modal-header{
	border-bottom:1px solid lightgray !important;
	padding:10px !important;
}

.modal-body p{
	margin-left:-15px;
	margin-top:3px;
}