
body{
	background-color:white;
}

a{
	color: #3f51b5;
}

a:hover{
	cursor: pointer;
	color: #3f51b5;
}

.github{
	margin:15px;
}


.content .article-container{
	padding:0px;
	padding-left:15px;
	padding-right:15px;
}

.content section.preHeader{
	color:white;
	height:60px;
}

.content  article {
	background-color:white;
	padding:0px;
	margin-bottom:30px;
	width:100%;
}

.content  article section{
	padding-left:15px;
	padding-right:15px;
}


.content  article  .header{
	border-bottom:1px solid lightgray;
	height:50px;
	padding-top:5px;
}

.content article .header{
	font-size:28px;
}

.content article .header .glyphicon{
	float:right;
	font-size:40px;
}

.content article .header .glyphicon div{
	position:absolute;
	left:12px;
	top:4px;
	font-size:16px;
	color:white;
}

.content article .header i{
	float:right;
}


.content article .header i.active {
	color: #3f51b5;
}

.content  article  .main {
	padding-top:15px;
	padding-bottom:15px;
	position:relative;
}

.content  article img.photo{
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	display: block;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
	border-top:12px solid white;
	border-right:6px solid white;
	border-left:6px solid white;
	border-bottom:12px solid white;
	margin-top:8px;
	margin-bottom:8px;
}

.content article img.right{
	float:right;
	margin-left:12px;
	margin-right:12px;
}

.navbar{
	height:200px;
	margin-bottom:-130px;
}

.navbar-nav img{
	padding: 10px 5px;
	margin: 10px 10px;	
	margin-top:15px;
	cursor: pointer;
	
}

.sideNav{
	display:none;
	padding-left:15px;
	padding-right:15px;
	margin-top:80px;
}

.sideNav .fixedContent{
	position:relative;
	margin-top:-30px;
}

.sideNav .fixedContent .pointer{
	position:absolute;
	right:0px;
	top:20%;
	margin-right:-16px;
}

.sideNav > article{
	max-width: 300px;
	min-width:220px;
	margin-left: auto;
	margin-right: auto;
}

.header .glyphicon{
	margin-top:-6px;
}

section.sub{
	border-top: 1px solid lightgray;
	margin-bottom:-4px;
	padding-bottom:4px;
}

section.easy{
	border-left:3px solid green;

}


span.easy{
	color: green ;
}



section.medium{
	border-left:3px solid gold;
}

span.medium{
	color: gold;
}

section.hard{
	border-left:3px solid darkred;
}

span.hard{
	color:darkred;
}


.easy .header{
	border-bottom:2px solid green !important;
}

.easy .header .glyphicon{
	color:green;
}


.medium .header{
	border-bottom:2px solid gold !important;
}

.medium .header .glyphicon{
	color:gold;
}


.hard .header{
	border-bottom:2px solid darkred !important;
}

.hard .header .glyphicon{
	color:darkred;
}


.wrong{
    text-decoration: line-through;
}


@media all and (min-width: 992px) {
	 .sideNav{
		display:block;
	}
	
	.smallnav{
		display: none;
	}
}

.firstblood{
	color:black !important;
	font-size:26px !important;
	margin-top:8px !important;
}

.complete{
	color: green !important;
	font-size:26px !important;
	margin-top:8px !important;
}

.progress-title{
	color:#c8c8c8;
	font-size:14px;
	font-style: italic;
	
}

.progress .progress-bar, .progress .progress-bar-default{
	background-color:#3f51b5;
}

.points{
	font-weight: bold;
	font-size:120%;
	
}

.codexamp{
	min-height:200px;
	overflow: hidden;
}


.codexamp .main img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	border-left:2px solid white;
	border-right:2px solid white;
	border-top:5px solid white;
	border-bottom:5px solid white;
	box-shadow: 10px 10px 5px #888888;
	top:-20px;
	left: 50%;
    transform: translate(-50%, 0);
	max-height: 200px;
}

.animate-show {
  padding:10px;
  border:1px solid black;
  background:white;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
	margin-top:200px;
	opacity: 0.8;
}

/** Forms **/
.form-control{
	background-image: linear-gradient(#495bc0,#495bc0),linear-gradient(#d2d2d2,#d2d2d2);
	border-color:#495bc0 !important;
}
