
	<!--<div class="col-md-3 " ng-controller="overviewCtrl">
		
		<div class="sideNav">
				

			<article class="sample shadow-z-1">
				<section class="header">
					<span>Overview</span>
				</section>
			</article>
			

			<article id="overview" class="shadow-z-1 fixedContent">
				<img src="img/pointer.png" class="pointer"></img>
				<section class="main">			
					<ul >
						<li><a ng-click="scrollTo('#inleiding')">Inleiding</a></li>
						<li><a ng-click="scrollTo('#net')">Introductie .NET</a></li>	
						<li><a ng-click="scrollTo('#visualStudio')">Introductie Visual Studio</a></li>
						<li><a ng-click="scrollTo('#helloworld')">Demo: Hello World</a></li>
						<li><a ng-click="scrollTo('#assemblies')">Assemblies</a></li>
					</ul>
				</section>
			</article>
		</div>

	</div>-->
	
	<div class="col-md-6">
		
		<section class="preHeader">
		 	<h2>Lesstof week 1</h2>
		</section>
		
		<article class="sample shadow-z-1" id="inleiding">
			<section class="header">
				<span>Inleiding</span>
			</section>
			
			<section class="main">
				
				<img class="photo right"  src="week1/img/javameme.png" width="300px"></img>
				
				Welkom in de wondere wereld van .NET. </br></br>
				In deze eerste les gaan we onze eerste applicaties schrijven in de taal C# (spreek uit: sie sjarp). Om dit te doen gaan we gebruik maken van de IDE* Visual Studio.
				De taal C# lijkt in syntax enorm veel op Java. Veel concepten zullen je dus ook bekend voorkomen.
				</br></br>
				Daarnaast gaan we kijken naar een aantal nieuwe concepten. Termen als Linq, Lambda, Methods, Properties en Delegates zullen de komende weken uitgelegd gaan worden. 
				</br></br>
				Aan het einde van dit blok heb je alle skills in huis om een Windows 8 applicatie te bouwen. Dit wordt ook de eindopdracht. 
				</br></br>
				
				<p><i>*IDE - Integrated development environment</i></p>
				
				
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
		
				
		<article class="sample shadow-z-1" id="net">
			<section class="header">
				<span>Introductie .NET Framework.</span>
				
			</section>
			
			<section class="main">
				De wereld van .NET verschilt nogal met die van Java. Om te beginnen is .NET platform afhankelijk. Applicaties geschreven in C# werken 
				alleen op Windows machines. 
				Daarnaast wordt er binnen .NET veelvuldig gebruik gemaakt van assemblies. Dit zijn pakketjes met klasses waar jij als ontwikkelaar gebruik van kan maken.
				</p>
				
				<p>
					Elke Windows machine heeft een standaard set aan assemblies waar je als ontwikkelaar meteen bij kan. 
					Daarnaast zijn er eindeloos veel assemblies die je kan "include-en" in je project.
					Verderop deze pagina gaan we meer aandacht besteden aan het onderwerp assemblies.
				</p>
				
				<p>Hieronder zie je een overzicht van de onderdelen van het Java framework ten opzichte van het .net framework. Kijk eens goed naar de verschillen.</p>
				
				<twentytwenty>
					<div class="wrapper text-center">
						<img class="center" src="week1/img/javaframework.png" ></img>
						<img class="center" src="week1/img/netframework.png" ></img>				
					</div>
				</twentytwenty>
				
				</br>
				<p>
					Maak je geen zorgen als een aantal termen nog onbekend voorkomen. We gaan alle onderdelen de komende weken behandelen. 
					Er zijn een aantal belangrijke verschillen. 
					
					<ul>
						<li>Java is platform onafhankelijk, .Net draait alleen op windows. </li>
						<li>Java maakt gebruik van 1 grote JDK (Java Development Kit), .NET heeft verschillende kleinere assemblies. </li>
						<li>Java heeft een Virtual Machine, .NET gebruikt CLR (Common Language Runtime).</li>
					</ul>
				</p>
				
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
			
		<article class="sample shadow-z-1"  id="visualStudio">
			<section class="header">
				<span>Introductie Visual Studio 2013 IDE</span>
			</section>
			
			<section class="main">
				

				<p>
				Programmeren met een nieuwe taal vereist een nieuwe werkomgeving. Waar je met java je applicaties in netbeans of eclipse schreef, gaan we nu aan de slag met Visual Studio.
				Deze tool is gemaakt door Microsoft zelf en ondersteunt alle talen waarmee je .NET applicaties kan schrijven.
				</p>
				

				
				<p>
				Wij gaan alleen applicaties schrijven in C#, maar het is ook mogelijk om applicaties te bouwen in C++ of Visual Basic. 
				</p>
				
				<p>Er zijn verschillende versies van Visual Studio beschikbaar. Wij gaan gebruik maken van de gratis versie. Visual Studio Community</p>
				
				<p>Je kunt Visual Studio Community gratis downloaden via de website van visual studio</p>
				
				<p>
				 <a href="https://www.visualstudio.com/" target="_blank"><img src="week1/img/visualstudio.png" width="30px"/> https://www.visualstudio.com/</a>
				</p>
				 <p>Andere versies van Visual Studio zijn normaal niet gratis. Maar omdat Avans toegang heeft tot MSDNA kunnen studenten hier ook de andere versies gratis downloaden.</p>
				 
				 <p>
				 <a href="https://msdnaa.avans.nl/" target="_blank"><img src="week1/img/msdn.jpg" width="30px"/> https://msdnaa.avans.nl/</a>
				 </p>
				 
				 <p>
				 	<b>let op!</b> Microsoft Visual Studio <b>Ultimate</b> heeft veel extra's maar vereist een hoop CPU!
				</p>
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
				
		<article class="sample shadow-z-1"  id="helloworld">
			<section class="header">
				<span>“Hello World” in .NET</span>
			</section>
			<section class="main" >
						
				<p>
				Genoeg geklets over nieuwe frameworks, talen en tools. Tijd voor het echte werk.
				</p>
		
				Hieronder zie je een screen cast met daarin de befaamde 'hello world' applicatie.
				Tijdens deze webcast doorloop ik alle stappen voor het opstarten van visual studio, het creëren van een nieuw project en het starten van een console applicatie. 
				</p>
				


				<div class="text-center">
					<iframe width="640" height="360" src="https://www.youtube.com/embed/Cq3V56KWZgc" frameborder="0" allowfullscreen></iframe>	
				</div>
				
	
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
		<article class="sample shadow-z-1" id="assemblies">
			<section class="header">
				<span>Assemblies</span>
			</section>
			
			<section class="main">
				<p>
					Vanuit Java ben je als het goed is al gewend om gebruik te maken van namespaces. Dit is een soort van 'achternaam' van een klasse. 
					Het kan zo maar zijn dat een naam van een klasse 2x voorkomt in een applicatie. Namespaces zorgen er voor dat deze klasse nog steeds uniek zijn.
				</p>
				
				<p>
					In Java kun je gebruik maken van een namespace via het <b>Import</b> statement. Binnen .NET doe je dit met het <b>Using</b> statement.
				</p>
					
				<twentytwenty>
					<div class="wrapper">
						<img class="center" src="week1/img/import.png" ></img>
						<img class="center" src="week1/img/using.png" ></img>
					</div>
				</twentytwenty>
				
	
				
				<p>
					
				In .NET gaan we nog een laagje dieper. Klasses worden opgedeeld in namespaces, en namespaces zijn weer onderdeel van een <b>library</b> of <b>assembly</b>. 
				In java krijg je een grote <b>JDK</b> (Java Development Kit). Hierin zitten heel veel klasses waar je gebruik van kan maken. Dit is niet het geval in .NET.
				Hier worden kleinere sets van klasses opgeleverd in assemblies. Deze assemblies vind je terug in je project in de vorm van
				<a href="https://nl.wikipedia.org/wiki/Dynamic-link_library" target="_blank" >DLL's</a>. (Dynamic Link Library).
				</p>
				
				
				<img class="photo" src="week1/img/refrence.png" />
				
							</br>
				
				<p>
				In elk project in .NET kun je referenties (references) leggen naar andere libraries. Deze libraries bevatten namespaces, en deze namespaces bevatten klasses.
				Elke template die je start binnen Visual Studio bevat een andere set aan standaard assemblies. Naast deze assemblies kun je zelf nog meer assemblies toevoegen. 
				Deze assemblies kunnen zich al op je computer bevinden omdat ze bijvoorbeeld onderdeel zijn van het .NET framework, of komen online van een externe bron.  
				</p>
		
				<p>
					Bekijk het onderstaande fimpje voor meer uitleg over assemblies in .NET. 
				</p>
				
				
				<div class="text-center">
					<iframe width="640" height="360" src="https://www.youtube.com/embed/8xk_l3q5cJI" frameborder="0" allowfullscreen></iframe>
				</div>
				
				
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
	

	</div>
	
	<div class="col-md-3">
		
		<!-- Eventuele content voor rechter balk -->
		
	</div>
