
	<!--<div class="col-md-3 " ng-controller="overviewCtrl">
		
		<div class="sideNav">
				
			
			<article class="sample shadow-z-1">
				<section class="header">
					<span>Overview</span>
				</section>
			</article>
			
			
			<article id="overview" class="shadow-z-1 fixedContent">
				<img src="img/pointer.png" class="pointer"></img>
				<section class="main">
					<ul >
						<li><a ng-click="scrollTo('#inleiding')">Inleiding</a></li>
						<li><a ng-click="scrollTo('#helloWorld')">Hello World</a></li>
						<li><a ng-click="scrollTo('#calculator')">Calculator</a></li>
					</ul>
				</section>
			</article>
		</div>-->

	</div>

	<div class="col-md-6 article-container">
		
		<section class="preHeader">
		 	<h2>Opdrachten week 1</h2>
		</section>
		
		<article class="sample shadow-z-1" id="inleiding">
			<section class="header">
				<span>Inleiding</span>
			</section>
			<section class="main">
			
				<p>
				Op deze pagina vind je de opdrachten voor week 1. 
				</p>
				
				<p>
				Elke week zijn er een aantal <b> <span class="easy">makkelijke</span>, <span class="medium">medium</span> en <span class="hard">moeilijke</span></b> opdrachten waar je in het practicum aan gaat werken. 
				Aan het begin kun je de uitwerking van de opdrachten aan je docent laten zien. Die zal ze afvinken en je zult hiervoor avanspunten krijgen.
				</p>
				
				<p>
				Voor het huiswerk van elke week staat er een startproject klaar. 
				Deze startprojecten zijn onderdeel van de github repository waarmee dit webdictaat gemaakt is. 
				Om deze startprojecten te gebruiken kun je het beste de github repo clonen. 
				Rechts van dit informatieblok staat een link en een clone-button.
				Voor elk project is meteen een uitwerking toegevoegd. Gebruik deze om te spieken als je er even niet meer uit komt.
				</p>

					</br>
				

				<p>
					Daarnaast bevat elke opdracht, ook een <b>Unit test</b> project en een aantal <b>interface</b> objecten. 
					Gebruik deze interfaces om je eigen objecten te implementeren, en run de tests om te controleren of de opdracht goed is.
				</p>	
			
				
				<p>
				De workshopopdrachten zijn tevens huiswerkopdrachten. Deze opdrachten zijn oefenmateriaal voor het assessment aan het einde van dit blok. 
				De opdrachten zijn niet verplicht, maar de eindopdracht wordt pittig. 
				Ik kan je aanraden deze opdrachten dus netjes bij te houden. 
				</p>
				
				<p>
				Ready? Set? <b>Go!</b>
				</p>
			</section>
			
		</article>
		
		<!-- Hoi Stijn, Waarschijnlijk kun je je niet herinneren waar je gebleven was, bij deze: 
			De scope van je assignment directive (pointy pony) is niet goed. Hij is niet 'isloated'. Op dit moment veranderen allebei je directives mee na de link functie'
		-->
		
		<article class="sample shadow-z-1 easy" assignment="HelloWorld"> 
			
			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	
			
			<section class="main">
				
				<p>In deze opdracht ga je een Console Applicatie maken in het .NET Framework met behulp van Visual Studio en C#. 
				C# lijkt qua syntax heel erg op Java dus het is niet erg als je nog nooit eerder iets met C# gedaan hebt, daar waar nodig worden hints gegeven.
				</p>
				
				<p>Een nieuwe taal leren? Dan eerst hello world! We gaan het alleen iets moeilijker maken.
				Bouw een console applicatie waar de console vraagt om een naam. Nadat de gebruiker een naam heeft ingevoerd moet de console "hello" + naam printen. 
				
				<ul>
					<li>Let op dat je een template kiest met de taal C#.</li>
					<li>Let op dat de template die je kiest een console application template is. </li>
					<li>Kom je er niet uit? Kijk nog een keer naar de <a href="https://www.youtube.com/watch?v=Cq3V56KWZgc" target="_blank" >screencast</a></li>
				</ul>	
				
			</section>
			
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
	
		<article class="sample shadow-z-1 hard" assignment="calculator"> 
			
			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	
			
			<section class="main">
				
				<p>
					Voor deze opdracht is er een startupproject beschikbaar. In dit project zitten interfaces waar je gebruik van kunt maken en een test die je kunt runnen. 
					Het is niet verplicht om gebruik te maken van deze startup, dus je kunt ook zelf een nieuw project beginnen. 
				</p>
				
				<p>
				Het doel van deze oefening is een eerste kennismaking met C# en het leren omgaan met Visual Studio. 
				Maak in Visual Studio de Console Application template een C# programma die een geboortedatum van een persoon vraagt 
				en vervolgens de leeftijd van deze persoon berekent en toont. De applicatie dient aan de volgende voorwaarden te voldoen:
				<ul>				
					<li>De datum dient via de Console opgevraagd te worden en aan het format (dd-mm-yyyy) te voldoen.</li>
					<li>Als een ongeldige datum of ongeldige input gegeven wordt dient dit op de Console aangegeven te worden.</li>
					<li>Bij een geldige datum wordt de leeftijd berekend en getoond.</li>
					<li>Maak gebruik van de mogelijkheden van Object Oriënted programmeren.</li>
					<li>Maak een apart project (class library) voor de klasse die je benadert vanuit de console applicatie.</li>
				</ul>
				
				<p>
					Controleer als je klaar bent je business logic door met de debugger door de code te lopen die de leeftijd berekent. 
					Zorg dat je gedurende deze debugsessie verschillende Debug Windows open hebt staan en inspecteer deze tijdens het debuggen.
				</p>
			
				
			</section>
			
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
		
		
	</div>
	<div class="col-md-3">
		
		<div class="sideNav">
				
			<!-- header -->
			<article class="sample shadow-z-1">
				<section class="header">
					<span>Github</span>
				</section>
				<section class="main">
				 <a  target="_blank" href="https://github.com/Avans/Prog5/">https://github.com/Avans/Prog5/</a></br>
						   					  <a class="md-col-3" href="github-windows://openRepo/https://github.com/Avans/Prog5/">
						</button>
						<button class="btn btn-inverse btn-raised">Clone To Desktop<div class="ripple-wrapper"></div></button>
					  </a>
			</section>
			</article>	
			
		</div>
		
	</div>
