<div class="row">

	<div class="col-md-3 " ng-controller="overviewCtrl">
		
		<div class="sideNav">
				
			<!-- header -->
			<article class="sample shadow-z-1">
				<section class="header">
					<span>Overview</span>
				</section>
			</article>
			
			<!-- fixed content -->
			<article id="overview" class="shadow-z-1 fixedContent">
				<img src="img/pointer.png" class="pointer"></img>
				<section class="main">
					<ul >
						<li><a ng-click="scrollTo('#inleiding')">Inleiding</a></li>
						<li><a ng-click="scrollTo('#properties')">Properties</a></li>	
						<li><a ng-click="scrollTo('#lamda')">Lamda</a></li>	
						<li><a ng-click="scrollTo('#linq')">Linq</a></li>
						<li><a ng-click="scrollTo('#test')">Unit Test</a></li>
						<li><a ng-click="scrollTo('#coding')">Extra: Coding Guidelines</a></li>

					</ul>
				</section>
			</article>
		</div>

	</div>
	
	<div class="col-md-6">
		
		<section class="preHeader">
		 	<h2>Lesstof week 2</h2>
		</section>
		
		<article class="sample shadow-z-1" id="inleiding">
			<section class="header">
				<span>Inleiding</span>
			</section>
			
			<section class="main">
				
				<p>
					Deze week gaan we inzoomen op de nieuwe onderdelen van C#. Er zijn een aantal verschillen met de taal Java die we deze week in kaart gaan brengen. 
				</p>
				
				<p>
					Met deze verschillen bedoel ik niet het verschil in syntax. Een "for loop" ziet er in java net wat anders uit dan in C#.
					 Weet je even niet meer hoe je een "if" statement schrijft? 
					 <a target="_blank" href="http://lmgtfy.com/?q=if+statement+c%23">Dan is er een magische plek op het internet om daar achter te komen!</a>
				</p>
				
				<p>
					Maar waar gaan we het dan wel over hebben? Deze week komen de volgende onderwerpen aan bod:
					<ul ng-controller="overviewCtrl">
						<li><a ng-click="scrollTo('#properties')">Properties</a></li>	
						<li><a ng-click="scrollTo('#lamda')">Lamda</a></li>	
						<li><a ng-click="scrollTo('#linq')">Linq</a></li>
						<li><a ng-click="scrollTo('#test')">Unit Test</a></li>
						<li><a ng-click="scrollTo('#coding')">Extra: Coding Guidelines</a></li>
					</ul>
				</p>
				
				<p>Dit zijn pittige onderwerpen dus let goed op tijdens de les en maak alle huiswerk opdrachten! 
					Is iets niet duidelijk? Toon dan initatief en stel vragen aan je vakdocent. 
				</p>
				
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
		<article class="sample shadow-z-1" id="properties">
			<section class="header">
				<span>Properties</span>
			</section>
			
			<section class="main">
				<p>
					Een klasse heeft over het algemeen private en public fields. Private fields kunnen alleen benaderd worden vanuit de klasse zelf. 
					Public fields zijn ook toegankelijk van buitenaf. 
				</p>
				
				<p>
					Als je in java een field alleen leesbaar wil maken dan is het gebruikelijk om een private field te maken met een bijbehorende functie als 'getter'.
					Daarnaast is het mogelijk een functie als 'setter' toe te voegen en eventuele validatie uit te voeren op de nieuwe waarde van het veld. 
				</p>
	
				<p>
					In C# doen we dit net even anders. Hier hebben we namelijk een speciale syntax voor het maken van getters en setters. 
					Dit zijn properties.
					Je bent bijna verplicht om in C# altijd Properties te gebruiken in plaats van normale 'fields'. 
					Sommige frameworks (waar we in de toekomst gebruik van gaan maken) werken bijvoorbeeld alleen goed samen met properties en niet met fields.
				</p>
					
				<div class="row">
					<div class="col-md-6">
						<h3>Java</h3>
<!-- CODE SNIPPET -->
<pre class="prettyprint linenums">
private String myField; 

public String getMyField()
{
    return this.myField;
}
public void setMyField(String value)
{
     this.myField = value;
}</pre>
			
					</div>
					<div class="col-md-6">
						<h3>C#</h3>
							
<!-- CODE SNIPPET -->		
<pre class="prettyprint linenums">
public class Person
{
    private string _firstname;

    public string Firstname
    {
        get
        {
            return _firstname;
        }
        set
        {
            _firstname = value;
        }
    }
}</pre>
					</div>
				</div>
					


			<p>Dit kan ook in een kortere variant. 
			 het onderstaande voorbeeld zal er onderwater een private field gemaakt worden waarmee de getter en setter hun waarde benaderen. 
			 Het is slim om jezelf aan te leren deze korte syntax te gebruiken voor properties i.p.v public fields. Hiermee kun je in de toekomst makkelijker 
			 bijvoorbeeld de 'set' private maken.  
			 
			</p>
			
			
			<p>
				Daarnaast is het ook mogelijk om zelf te bepalen of je een get of een set implementeerd. De implementatie mag ook meet logica bevatten. 
			</p>
			
			<div class="row">
					<div class="col-md-6">
						<h3>Korte syntax</h3>
<!-- CODE SNIPPET -->
<pre class="prettyprint linenums">
public class Person
{
    private string _firstname;

    //De lange variant (ingeklapt)
    public string Firstname...
	
    //De korte variant
    public string Lastname { get; set; }
	
}</pre>
			
					</div>
					<div class="col-md-6">
						<h3>Logica</h3>
							
<!-- CODE SNIPPET -->		
<pre class="prettyprint linenums">
public class Person
{
    private string _firstname;

    //De lange variant (ingeklapt)
    public string Firstname..

    public string Lastname { get; set; }

    public string Fullname 
    { 
        get
        {
            return _firstname + Lastname;
        }
    }
}</pre>

					</div>
				</div>


			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
		<article class="sample shadow-z-1" id="lamda">
			<section class="header">
				<span>Lamda Expressies</span>
			</section>
			
			<section class="main"style="min-height:300px;">
				

				
			</section>
			
			<section class="footer">
				
				
			</section>
		
		
		</article>
		
		<article class="sample shadow-z-1" id="linq">
			<section class="header">
				<span>Linq</span>
			</section>
			
			<section class="main">
				

				
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
		<article class="sample shadow-z-1" id="test">
			<section class="header">
				<span>Unit Testing</span>
			</section>
			
			<section class="main">
				

				
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
	
		<article class="sample shadow-z-1" id="coding">
			<section class="header">
				<span>Coding Guidelines</span>
			</section>
			
			<section class="main"style="min-height:300px;">
				

				
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
	</div>
	<div class="col-md-3"></div>
</div>

 <!-- Deze regel javascript hebben we nodig voor het 'prettifyen' van onze code snippits -->
    <script>
        
      !function ($) {
        $(function(){
          window.prettyPrint && prettyPrint()   
        })
      }(window.jQuery)
      
    </script>