	<!--<div class="col-md-3 " ng-controller="overviewCtrl">
		
		<div class="sideNav">
				

			<article class="sample shadow-z-1">
				<section class="header">
					<span>Overview</span>
				</section>
			</article>
			

			<article id="overview" class="shadow-z-1 fixedContent">
				<img src="img/pointer.png" class="pointer"></img>
				<section class="main">
					<ul >
						<li><a ng-click="scrollTo('#inleiding')">Inleiding</a></li>
						<li><a ng-click="scrollTo('#properties')">Properties</a></li>	
						<li><a ng-click="scrollTo('lambda')">Lambda</a></li>	
						<li><a ng-click="scrollTo('#linq')">Linq</a></li>
						<li><a ng-click="scrollTo('#test')">Unit Test</a></li>
						<li><a ng-click="scrollTo('#coding')">Extra: Coding Guidelines</a></li>

					</ul>
				</section>
			</article>
		</div>

	</div>-->
	
	<div class="col-md-6">
		
		<section class="preHeader">
		 	<h2>Lesstof week 2</h2>
		</section>
		
		<article class="sample shadow-z-1" id="inleiding">
			<section class="header">
				<span>Inleiding</span>
			</section>
			
			<section class="main">
				
				<p>
					Deze week gaan we inzoomen op de nieuwe onderdelen van C#. Er zijn een aantal verschillen met de taal Java die we deze week in kaart gaan brengen. 
				</p>
				
				<p>
					Met deze verschillen bedoel ik niet het verschil in syntax. Een "for loop" ziet er in java net wat anders uit dan in C#.
					 Weet je even niet meer hoe je een "if" statement schrijft? 
					 <a target="_blank" href="http://lmgtfy.com/?q=if+statement+c%23">Dan is er een magische plek op het internet om daar achter te komen!</a>
				</p>
				
				<p>
					Maar waar gaan we het dan wel over hebben? Deze week komen de volgende onderwerpen aan bod:
					<ul ng-controller="overviewCtrl">
						<li>Properties</li>	
						<li>Lambda</li>	
						<li>Linq</li>
						<li>Unit Test</li>
						<li>Extra: Coding Guidelines</li>
					</ul>
				</p>
				
				<p>Dit zijn pittige onderwerpen dus let goed op tijdens de les en maak alle huiswerkopdrachten! 
					Is iets niet duidelijk? Toon dan initatief en stel vragen aan je vakdocent. 
				</p>
				
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
		<article class="sample shadow-z-1" id="properties">
			<section class="header">
				<span>Properties</span>
			</section>
			
			<section class="main">
				<p>
					Een klasse heeft over het algemeen private en public fields. Private fields kunnen alleen benaderd worden vanuit de klasse zelf. 
					Public fields zijn ook toegankelijk van buitenaf. 
				</p>
				
				<p>
					Als je in java een field alleen leesbaar wil maken dan is het gebruikelijk om een private field te maken met een bijbehorende functie als 'getter'.
					Daarnaast is het mogelijk een functie als 'setter' toe te voegen en eventuele validatie uit te voeren op de nieuwe waarde van het veld. 
				</p>
	
				<p>
					In C# doen we dit net even anders. Hier hebben we namelijk een speciale syntax voor het maken van getters en setters. 
					Dit zijn properties.
					Je bent bijna verplicht om in C# altijd properties te gebruiken in plaats van normale 'fields'. 
					Sommige frameworks (waar we in de toekomst gebruik van gaan maken) werken bijvoorbeeld alleen goed samen met properties en niet met fields.
				</p>
					
				<div class="row">
					<div class="col-md-6">
						<h3>Java</h3>
<!-- CODE SNIPPET -->
<pre class="prettyprint linenums">
private String myField; 

public String getMyField()
{
    return this.myField;
}
public void setMyField(String value)
{
     this.myField = value;
}</pre>
			
					</div>
					<div class="col-md-6">
						<h3>C#</h3>
							
<!-- CODE SNIPPET -->		
<pre class="prettyprint linenums">
public class Person
{
    private string _firstname;

    public string Firstname
    {
        get
        {
            return _firstname;
        }
        set
        {
            _firstname = value;
        }
    }
}</pre>
					</div>
				</div>
					


			<p>Dit kan ook in een kortere variant. 
			 In het onderstaande voorbeeld zal er onder water een private field gemaakt worden waarmee de getter en setter hun waarde benaderen. 
			 Het is slim om jezelf aan te leren deze korte syntax te gebruiken voor properties i.p.v public fields. Hiermee kun je in de toekomst makkelijker 
			 bijvoorbeeld de 'set' private maken.  
			 
			</p>
			
			
			<p>
				Daarnaast is het ook mogelijk om zelf te bepalen of je een get of een set implementeert. De implementatie mag ook meer logica bevatten. 
			</p>
			
			<div class="row">
					<div class="col-md-6">
						<h4>Korte syntax</h4>
<!-- CODE SNIPPET -->
<pre class="prettyprint linenums">
public class Person
{
    private string _firstname;

    //De lange variant (ingeklapt)
    public string Firstname...
	
    //De korte variant
    public string Lastname { get; set; }
	
}</pre>
			
					</div>
					<div class="col-md-6">
						<h4>Logica</h4>
							
<!-- CODE SNIPPET -->		
<pre class="prettyprint linenums">
public class Person
{
    private string _firstname;

    //De lange variant (ingeklapt)
    public string Firstname..

    public string Lastname { get; set; }

    public string Fullname 
    { 
        get
        {
            return _firstname + Lastname;
        }
    }
}</pre>

					</div>
				</div>


			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
		<article class="sample shadow-z-1" id="lambda">
			<section class="header">
				<span>Lambda Expressies</span>
			</section>
			
			<section class="main"style="min-height:300px;">
				<blockquote>
					"A lambda expression is an anonymous function that you can use to create delegates or expression tree types. By using lambda expressions, you can write local functions that can be passed as arguments or returned as the value of function calls. Lambda expressions are particularly helpful for writing LINQ query expressions.""
				</blockquote>
				
				<p>Duidelijk toch? Dat dacht ik al</p>
				
				<p>
					lambda expressies worden gebruikt om Linq queries (zie volgende blokje) te schrijven en om deze toe te kunnen passen is de basiskennis nodig.  
					Laten we beginnen met de vorm van een lambda expressie.
				</p>
<!-- CODE SNIPPET -->		
<pre class="prettyprint linenums">
	n => n % 2 == 1 
</pre>			

				<p>Wat doet deze expressie nu eigenlijk? Als je een lambda expressie defini&euml;ert, defini&euml;er je onder water een 'anonieme' functie. 
					Dit is een functie zonder naam, die maar 1 keer uitgevoerd wordt. 
					Lambda expressies zijn niet meer dan een 'korte syntax' om snel even een functie te defini&euml;ren en uit te voeren.
					De bovenstaande lambda expressie bestaat uit de volgende onderdelen:
				</p>
			
				<ul>
					<li>n is de input parameter (parameters van de functie)</li>
					<li>n % 2 == 1 is de expressie (inhoud van de functie)</li>
				</ul>
				
				<p>
					Deze expressie vertelt ons niet zo veel. Maar laten we nu een wat realistischer scenario nemen. Stel, je wilt een lijst filteren. 
					Normaal zou je dan een for loop defini&euml;ren, door alle elementen van je collectie loopen en je filter (eventueel functie) toepassen. 
				</p>
				<p>
					Een lambda expressie kan dit voor ons een stuk simpeler maken. 
				</p>
				


						<h4>Old scewl</h4>
<!-- CODE SNIPPET -->		
<pre class="prettyprint linenums">
public void DoSomething()
{
    List<Person> lijstje = new List<Person>();
    List<Person> gefilterd = new List<Person>();

    gefilterd = lijstje.Where(LastnameSmulders).ToList();
}

public bool LastnameSmulders(Person person)
{
    return person.Lastname == "Smulders";
}
</pre>			

				<h4>Lambda</h4>
						
<!-- CODE SNIPPET -->		
<pre class="prettyprint linenums">
List<Person> lijstje = new List<Person>();
List<Person> gefilterd = new List<Person>();

gefilterd = lijstje.Where(p => p.Lastname == "Smulders").ToList();
</pre>			
						
				<p>
					De 'Where' functie op de lijst is onderdeel van Linq. Hier gaan we het zo over hebben. Deze vervangt voor ons de 'for loop'.
				</p>

				<p>
					Onze lambda statement vervangt in dit voorbeeld de functie "LastnameSmulders". 
					de p die we meegeven is de naam van de parameter die onze 'anonieme functie' meekrijgt. 
					De 'Where' statement roept onze anonieme functie aan met elke keer 1 persoon uit de lijst. 
					Onze expressie wordt omgezet in een boolean. Je zou dit dus als een 'if' statement kunnen lezen. 
					Alle personen waarbij deze expressie 'true' is worden verzameld in een nieuwe lijst als return value van de functie Where. 
				</p>
				<p>
					Als je vaker gebruik gaat maken van lambda expressies, voelt de syntax vanzelf vertrouwd aan. 
					lambda expressies kunnen je een hoop tijd besparen!
				</p>
			
			
				
				
				<p>
					Het meegeven van een functie als 'parameter' valt onder de categorie 'delegates'. Hier gaan we later dit blok nog op in. 
				</p>
				
			</section>
			
			<section class="footer">
				
				
			</section>
		
		
		</article>
		
		<article class="sample shadow-z-1" id="linq">
			<section class="header">
				<span>Linq</span>
			</section>
			
			<section class="main">
				
				
				<p>
					Genoeg gebazel over lambda expressies. Laten we gewoon code gaan tikken!
				</p>
				
				<p>Voor we de nieuwe stijl demonstreren, eerst even een demonstratie hoe we het vroeger deden.</p>
				
<!-- coce Snippet -->
<pre class="prettyprint linenums">
List<Person> result = new List<Person>();
foreach (Person person in People)
{
  if(person.FirstName[0] == firstChar)
    result.Add(person);
}
return result;
</pre>


				<p>
					Nu gaan we gebruik maken van Linq. Linq is een assembly (system.linq) waarmee je filter-functies kunt uitvoeren op lijsten. 
					Deze functies kun je uitvoeren doormiddel van een linq query of een lambda expressies. 
				</p>
				
<pre class="prettyprint linenums">
using System.Linq;
</pre>
	
				<p>
					Deze Linq query's maken je leven een stuk makkelijker! 
					Deze voorbeelden zijn maar het topje van de ijsberg wat je allemaal kan met Linq
				    , en ik kan je aanraden om ook even op het wereld wijde web verder te zoeken!
				</p>
				
				
				<h4>Linq query</h4>

<pre class="prettyprint linenums">
	
return from p in People where p.FirstName[0] == firstChar select p;

</pre>
				<h4>Linq met Lambda</h4>
<!-- coce Snippet -->
<pre class="prettyprint linenums">
	
return People.Where(p => p.FirstName[0] == firstChar);

</pre>

				<strong>Let op! </strong>
				
				<p>De return value van een linq statement is van het type IEnumerable. 
				Dit is een ander type dan List. Wil je toch een <strong>List</strong> als result? 
				</p>

<pre class="prettyprint linenums">
lijstje.Select(p => p.Lastname).toList();
</pre>
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
				
		<article class="sample shadow-z-1"  id="helloworld">
			<section class="header">
				<span>Demo: Linq</span>
			</section>
			<section class="main" >
						
				<p>
					Een korte screenkast waar ik de verschillende stijlen van linq laat zien en toelicht. 
				</p>
				


				<div class="text-center">
					<iframe width="640" height="360" src="https://www.youtube.com/embed/Xu68PtOfINc" frameborder="0" allowfullscreen></iframe>
				</div>
				
	
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
			
		<article class="sample shadow-z-1" id="coding">
			<section class="header">
				<span>Coding Guidelines</span>
			</section>
			
			<section class="main"style="min-height:300px;">
				
				<p>
				Coding Guidelines houdt in dat we afspraken gaan maken over hoe onze code 'stylen' 
				Hierbij moet je denken aan bijvoorbeeld de volgende dingen: 
				<ul>
					<li>Inspringen</li>
					<li>Haakjes</li>
					<li>Wanneer een lege regel</li>
					<li>Wanneer & hoe commentaar</li>
				</ul>
				</p>
				
				<p>
					Het maakt niet uit welke coding guidelines je kiest als iedereen binnen je team maar dezelfde guidelines hanteert.
					Bijvoorbeeld de microsoft coding guidelines. 
				</p>
				
				<b>Microsoft Coding guidelines</b></br>
				<a href="https://msdn.microsoft.com/en-us/library/ff926074.aspx" target="_blank">https://msdn.microsoft.com/en-us/library/ff926074.aspx</a> 
				
				
				<p>
				Daarnaast is het belangrijk om je te houden aan de coding conventions. 
				Coding conventions zijn afspraken over de naamgeving binnen C#. 
				In ons geval zijn dit PascalCasing en camelCasing. 
				</p>
				
		
				<h2>PascalCasing <span> ( <b>N</b>umberOfWheels ) </span></h2>
				
				<p>
					PascalCasing houdt in dat we de naam van een variabele beginnen met een hoofdletter. 
					Verder beginnen alle lossen woorden binnen de naam ook met een hoofdletter.
					PascalCasing passen we toe op de volgende onderdelen:
				</p>
				
				<ul>
					 <li>Classes</li>
					 <li>Namespaces</li>
					 <li>Methods</li>
					 <li>Constructors / Deconstructors</li>
					 <li>Properties</li>
				</ul>
				
				<h2>camelCasing <span> ( <b>n</b>umberOfWheels ) </span></h2>
				
				<p>camelCasing is ongeveerd het zelfde als PascalCasing, op het feit na dat de eerste letter van de naam een kleine letter is. 
					camelCasing passen we toe op de volgende onderdelen:
					
				</p>
				<ul>
					<li>Fields</li>
				 	<li>Lokale variabelen</li>
				 	<li>Method parameters</li>
				</ul>
				
				<p>
					
				</p>

			</section>
			
			<section class="footer">
				
				
				
			</section>
		
		</article>
		
		<article class="sample shadow-z-1" id="test">
			<section class="header">
				<span>Unit Testing</span>
			</section>
			
			<section class="main">
				
				<blockquote>
			       " Unit Testen... Hmmm, is dat niet het onderdeel van software ontwikkeling dat ik altijd oversla? "
			    </blockquote>
			    
			    <p>
			        Komt deze tekst je bekend voor? Dan hoop ik dat ik je van mening kan laten veranderen. 
			    </p>
			    <p>
			        Heb je wel eens een nieuw stuk code geschreven, waarmee je een klein beetje nieuwe logica introduceerde?</br>
			        Zat dit stukje logica in een scherm waar je naartoe moest navigeren? </br>
			        Blijkt dan keer op keer dat je nog net een klein dom foutje nog in de code hebt zitten?</br>
			    </p>
			    
			    <p>
			        Elke keer handmatig je code testen kost zee&euml;n van tijd. 
			        Je kunt ook een unit test schrijven, om op deze manier de code aan te roepen en te testen. 
			        Als je dan denkt dat je klaar bent, hoef je het nog maar 1x in de applicatie te testen. 
			        Daarnaast kun je deze code later in het ontwikkelproces (gratis) automatisch opnieuw testen. 
			    </p>
			    
			    <p>
			        Daarnaast zijn er foutjes in je code waarbij je er pas heel laat achter komt dat er iets fout gaat. 
			        Een snelle berekening om een aantal waardes op te tellen bijvoorbeeld. Op je scherm zie je een getal staan, 
			        maar dit betekent dit dat je code juist is? Een Unit test schrijven om te verifi&euml;ren dat de uitkomst van je berekening 
			        ook echt klopt, kan je letterlijk uren besparen. 
			    </p>
			    
			    
			    
			    <h4>
			        Maar als je mij niet gelooft, 
			        <a target="_blank" href="http://www.onjava.com/pub/a/onjava/2003/04/02/javaxpckbk.html">zijn er</a>
			        <a target="_blank" href="http://stackoverflow.com/questions/67299/is-unit-testing-worth-the-effort">genoeg</a>
			        <a target="_blank" href="http://blog.codinghorror.com/i-pity-the-fool-who-doesnt-write-unit-tests/">andere</a>
			        <a target="_blank" href="http://simpleprogrammer.com/2010/10/15/the-purpose-of-unit-testing/">redenen</a>
			        <a target="_blank" href="https://www.scrumalliance.org/community/articles/2013/february/unit-testing-ignored-and-misunderstood">om</a>
			        <a target="_blank" href="http://geekswithblogs.net/jboyer/archive/2011/09/07/5-reasons-why-unit-testing-is-funndashand-important.aspx">unit-test</a>
			        <a target="_blank" href="http://archive.oreilly.com/pub/a/oreilly/oracle/utplsql/news/fulldoc.html">te</a>
			        <a target="_blank" href="http://www.codeproject.com/Articles/745457/The-Importance-of-Unit-Testing">schrijven!</a>
			    </h4>
			    
	
				<hr/>
				
				<div class="row top-buffer">
			        <div class="col-md-8">
			 
			            <p>
			                In Visual Studio kun je een <strong>Unit Test Project</strong> toevoegen aan je solution, 
			                waar je kleine stukjes code kan schrijven die methodes
			                voor je kunnen aanroepen en de output van deze methodes kunnen 'asserten'.    
			            </p>
			            <p>
			                Dit project bestaat uit classes met een <Strong>TestClass</Strong> attribuut, alswel methodes met een <strong>TestMethod</strong> attribuut. 
			                Deze methodes kun je uitvoeren via de <strong>Test Window</strong> in visual studio. Hier kun je zien of een test geslaagd is
			                en zo niet, wat dan de reden is dat de test niet gelukt is. 
			            </p>
			            
			            <p><i>Tip: De test explorer kun je vinden onder <strong>Test > Window > Test Explorer</strong></i></p>
			            
			            <p>
			                Voordat je kan beginnen met het schrijven van de test, moet je eerst een duidelijke naam verzinnen voor jouw unit test.
			                Als een test mislukt, wil je meteen kunnen zien waar in de code er iets fout is gegaan.
			                Gebruik de volgende regels als houvast:
			                
			                <ol>
			                    <li>De naam van de <strong>TestClass</strong> = de naam van de klasse die je gaat testen + "Test" 
			                        <ul><i>bijv. CarTest</i></ul>
			                    </li>
			                    <li>De naam van de <strong>TestMethode</strong> moet uit de volgende onderdelen bestaan:
			                        <ul>
			                            <li>Naam van de klasse</li>
			                            <li>Naam van de methode die je gaat testen (of bijv. constructor)
			                            <li>Of de test moet slagen, of als je verwacht dat er exception komt</li>
			                        </ull>
			                        <ul>
			                            <i>bijv. CarTest_GetGasoline_Succes</i>
			                        </ul>
			                    </li> 
			                </ol>
			            </p>
			             
			        </div>
			        <div class="col-md-4 text-center" >
			            
			            <img class="photo" src="week2/img/test.png" alt="unit testing" />
			            
			            <img class="photo" src="week2/img/textExplorer.png" class="top-buffer" alt="test Explorer" />
			        </div>
			    </div>
    
			</section>
			
			<section class="footer">
				
				
			</section>
		
		</article>
		
		<article class="sample shadow-z-1" id="testaaa">
			<section class="header">
				<span>Unit Testing - Triple AAA</span>
			</section>
			<section class="main">
				
				 <p>Een unit test schrijven bestaat uit 3 stappen:</p>
     
			     <ol>
			         <li>Arrange</li>
			         <li>Act</li>
			         <li>Assert</li>
			     </ol>
			     
			     <p>
			         De eerste twee stappen spreken voor zich. Bij de <strong>Arrange</strong> cre&euml;er je de klassen die je nodig hebt voor het uitvoeren van je test.
			         Daarnaast kun je een aantal andere objecten klaar zetten die je nodig hebt. 
			         Bij de <strong>Act</strong> ga je letterlijk de methode die je wilt testen, uitvoeren. 
			         Om het resultaat van de methode te verifi&euml;ren gaan we gebruik maken van de <strong>Assert</strong> klasse in .NET. 
			     </p>
			    
			    
	             <p>
	                 Het .NET framework biedt je toegang tot de <a href="https://msdn.microsoft.com/en-us/library/ms182530.aspx" target="_blank"><strong>Assert</strong></a> klasse. 
	                 Met deze klasse kun je waardes vergelijken. 
	                 Komen de waardes niet overeen, dan mislukt je unit test. 
	             </p>              

				 <div class="examp">
					<h4>Assert</h4>
	
	                In your test method, you can call any number of methods of the Assert class, such as Assert.AreEqual(). 
	                The Assert class has many methods to choose from, and many of those methods have several overloads.
				 </div>
					
				 <!-- Code snippet -->		
				<pre class="prettyprint linenums">
//1. arrange
Calculator calcy = new Calculator();

//2. act
var result = calcy.Add(1, 1);

//3. assert
Assert.AreEqual(2, result);</pre>
							

			</section>
		</article>

		
	</div>
	
	<div class="col-md-3">
		
		
	</div>


 <!-- Deze regel javascript hebben we nodig voor het 'prettifyen' van onze code snippits -->
    <script>
        
      !function ($) {
        $(function(){
          window.prettyPrint && prettyPrint()   
        })
      }(window.jQuery)
      
    </script>