
	<!--<div class="col-md-3 " ng-controller="overviewCtrl">

		<div class="sideNav">

			<article class="sample shadow-z-1">
				<section class="header">
					<span>Overview</span>
				</section>
			</article>

			<article id="overview" class="shadow-z-1 fixedContent">
				<img src="img/pointer.png" class="pointer"></img>
				<section class="main">
					<ul >
						<li><a ng-click="scrollTo('#inleiding')">Inleiding</a></li>
						<li><a ng-click="scrollTo('#opdracht2')">Telefoonboek</a></li>
					</ul>
				</section>
			</article>
		</div>

	</div>-->

	<div class="col-md-6 article-container">

		<section class="preHeader">
		 	<h2>Opdrachten week 2</h2>
		</section>

		<article class="sample shadow-z-1" id="inleiding" >
			<section class="header">
				<span>Inleiding</span>
			</section>
			<section class="main">

				<p>
				Op deze pagina vind je de opdrachten voor week 2.
				</p>

				<p>
				Elke week zijn er een aantal <b> <span class="easy">makkelijke</span>, <span class="medium">medium</span> en <span class="hard">moeilijke</span></b> opdrachten waar je in het practicum aan gaat werken.
				Aan het begin kan je de uitwerking van de opdrachten aan je docent laten zien. Deze zal ze afvinken en je zult hiervoor avans punten krijgen.
				</p>

				<p>
				Voor het huiswerk van elke week staat er een start project klaar.
				Deze startprojecten zijn onderdeel van de github repository waarmee dit webdictaat gemaakt is.
				Om deze start projecten te gebruiken kun je het beste de github repo clonen.
				Rechts van dit informatie blok staat een link en een clone button.
				Voor elk project is meteen een uitwerking toegevoegd. Gebruik deze om te spieken als je er even niet meer uit komt.
				</p>

					</br>


				<p>
					Daarnaast bevat elke opdracht, ook een <b>Unit test</b> project en een aantal <b>interface</b> objecten.
					Gebruik deze interfaces om je eigen objecten te immplementeren, en run de tests om te controlleren of de opdracht goed is.
				</p>


				<p>
				De workshop opdrachten zijn tevens huiswerk opdrachten. Deze opdrachten zijn oefenmateriaal voor het assessment aan het einde van dit blok.
				De opdrachten zijn niet verplicht, maar de eindopdracht wordt pittig.
				Ik kan je aanraden deze opdrachten dus netjes bij te houden.
				</p>

				<p>
				Ready? Set? <b>Go!</b>
				</p>
			</section>

		</article>

		<article class="sample shadow-z-1 easy" assignment="vault">

			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>



			<section class="main">
				
				
	
				
				<img src="week2/img/csharpcity.png" class="photo" />
				</br>

				
				<p><b>Startproject</b>: CSharpCity</p>
				
				<p>Welkom in CSharp City. Een stad vol mogelijkheden en valkuilen. </p>

				<p>Als nieuwe hacker in de stad wil je je skills testen op het allerhoogste niveau. Inbreken in een bank</p>

				<p>Maak gebruik van je kennis van C# om de kluis te openen en het geld te stelen. Om dit te doen zul je een aantal 'hacks' moeten uitvoeren.</p>

				<p>Je gaat aan de slag in de klasse 'Thief'. Hier vind je de volgende methodes die je zelf zult moeten uitbreiden.</p>

				<h3>OpenGate()</h3>
				<p>
					De guard heeft een (private) sleutel. Voeg een public property toe aan de klasse <b>Guard</b> waarmee je de sleutel kan ophalen.
				</p>

				<h3>OpenVault()</h3>

				<p>Bekijk de klasse <b>Vault</b>. Is er een manier om het private field '_isOpen' op true te krijgen?</p>

				<h3>DodgeLazors()</h3>

				<p>De meeste hackers zijn niet echt atletisch, dus laten we de "lazors" uitschakelen.</p>

				<p>Gebruik een Linq query om elke lazors te 'disablen'.

				<h3>FindAndOpenSafe()</h3>

				<p>Daar sta je dan. Oog in oog met de kluis. Maar het zijn er zo veel!</p>

				<p>Gebruik een linq query om de kluis met het meeste geld te vinden en te openen. </p>

				<p><i>Tip: Gebruik de linq methode .first </i></p>

			</section>

			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>

		</article>


		<article class="sample shadow-z-1 medium" assignment="telephone">

			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>

			<section class="main">

				
				<p><b>Startproject</b>: Telefoonboek</p>
				
				<p>	
					In deze oefening ga je een eenvoudig telefoonboek maken in .NET. Het doel van deze oefening is te leren omgaan met C# properties en LINQ expressies.
				</p>

				<p>
					Net als in de voorgaande oefening (1.1) is het van belang om netjes en gestructureerd te coderen. Houd je daarbij ook aan de C# Naming Conventions.
					Maak een class Person. De class moet de volgende properties bevatten: FirstName, LastName en TelephoneNumber. Zorg daarnaast voor een Read-Only property FullName die de combinatie FirstName en LastName terug geeft. Zorg ook voor een constructor waarmee je een firstname & lastname 	mee kan geven.
				</p>
				<p>
					Maak een class TelephoneBook deze bevat intern een collectie van Person objecten Tip: gebruik hiervoor List<Person>. Vul deze list hard-coded met gegevens van minimaal 10 personen.
					De TelephoneBook class moet de volgende functionaliteiten hebben. implementeer deze functionaliteiten zoveel mogelijk met LINQ expressies.

				<ul>
					<li>Een methode die alle personen uit het telefoonboek gesorteerd op achternaam terug geeft.</li>
					<li>Een methode die alle personen uit het telefoonboek terug geeft waarvan de voornaam begint met een opgegeven letter. Deze lijst moet ook weer gesorteerd op achternaam zijn.</li>
					<li>Een methode die alle achternamen van personen uit het telefoonboek terug geeft waarvan de lengte van de achternaam groter is dan een opgegeven waarde. </li>
					<li>De lijst van achternamen moet gesorteerd op lengte teruggegeven worden waarbij de langste achternaam onderaan staat en de kortste achternaam bovenaan.</li>
					<li>Een read-only property die aangeeft hoeveel personen er in het telefoonboek zitten.</li>
				</ul>

				<p>
					Test je code door de functies van je telefoonboek aan te roepen en het resultaat te tonen in een Console.
				</p>

				<img src="week1/img/telefoonboek.jpg" class="photo" />

			</section>

			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>

		</article>
		
			
		<article class="sample shadow-z-1 hard" assignment="testing"> 
			
			<!-- Custom header -->

			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	

			
			<section class="main">
				
				<p><b>Startproject</b>: TheRepository.Test</p>
						
				<p>
					Yay! Eindelijk alle code is klaar voor de nieuw gaspedaal app!
					Zou mijn code 'fout' vrij zijn?
				</p>
				
				<p>
					De code in het project <b>TheRepository</b> is alvast een voorproefje voor volgende week.
				 	Als sommige dingen nog niet helemaal duidelijk zijn is dit niet erg. 
				</p>
				
				
				
				
				
			</section>
			
				
			<section class="easy sub ">
					
					
				<div class="row">
					<div class="col-md-8">
						
						<h3>Mijn eerste test</h3>
				
						<p>
							Schrijf een unit test voor de class <strong>CarVM</strong> om te controleren 
							of de waarde van de properties <strong>LeaseKostenPerMaand</strong> en <strong>
							LeaseKostenPerJaar</strong> juist zijn. 
						</p>
				
						<p>Dit is de gewenste berekening: 
							<ul>
								<li>LeaseKostenPerMaand = Prijs / Bijtelling * 2</li>
								<li>LeaseKostenPerJaar = LeaseKostenPerMaand * 12</li>
							</ul>
						</p>   		

					</div>
					
					<div class="col-md-4 text-center">
						<img src="week2/img/dontwritetest.gif"  class="photo"/>
					</div>
				</div>
			</section>

			<section class="hard sub">
			 
			 	<h2>Dummy Injection</h2>
    	
				<div class="row">
					<div class="col-md-8">
						<p>
							Maak een Moq versie van de ICarRepository aan. om dit te doen moet je gebruik moeten maken van het MOQ framework. 
							Voor meer informatie, lees de Quickstart. 
						</p>
						
						<p>
							Schrijf een Unit Test voor de class <strong>MainViewModel</strong>. 
							Test of de berekening achter <strong>TotalePrijs</strong> juist is.  
							Verifieer de volgende onderdelen:
						</p>
						
						<ul>
							<li>De totale prijs is gelijk aan de som van prijs van alle <strong>actieve</strong> autos</li>
							<li>De <strong>GetAll</strong> methode van de <strong>ICarRepository</strong> wordt maar 1x aangeroepen</li>
						</ul>
						
						<p>
							<i>tip: Lees de <a target="_blank" href="https://github.com/Moq/moq4/wiki/Quickstart">Quickstart</a></i>
						</p>
				
					</div>
					<div class="col-md-4 text-center">
						<img src="week2/img/logo.htm" class="img-thumbnail" alt="MOQ">
					</div>
				</div>
			</section>

		
					
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
		
	</div>
	<div class="col-md-3">

		<div class="sideNav">

			<!-- header -->
			<article class="sample shadow-z-1">
				<section class="header">
					<span>Github</span>
				</section>
				<section class="main">
					<a target="_blank" href="https://github.com/Avans/Prog5/">https://github.com/Avans/Prog5/</a></br>
					<a class="md-col-3" href="github-windows://openRepo/https://github.com/Avans/Prog5/">
						<button class="btn btn-inverse btn-raised">Clone To Desktop<div class="ripple-wrapper"></div></button>
					</a>
			</section>
			</article>

		</div>

	</div>
