
	<!--<div class="col-md-3 " ng-controller="overviewCtrl">
		
		<div class="sideNav">

			<article class="sample shadow-z-1">
				<section class="header">
					<span>Overview</span>
				</section>
			</article>
			
			<article id="overview" class="shadow-z-1 fixedContent">
				<img src="week3/img/pointer.png" class="pointer"></img>
				<section class="main">
					<ul >
						<li><a ng-click="scrollTo('#inleiding')">Inleiding</a></li>
						<li><a ng-click="scrollTo('#opdracht2')">Telefoonboek</a></li>
					</ul>
				</section>
			</article>
		</div>

	</div>-->

	<div class="col-md-6 article-container">
		
		<section class="preHeader">
		 	<h2>Opdrachten week 4</h2>
		</section>
		
		<article class="sample shadow-z-1" id="inleiding" >
			<section class="header">
				<span>Inleiding</span>
			</section>
			<section class="main">
			
				<p>
				Op deze pagina vind je de opdrachten voor week 4. 
				</p>
				
				<p>
				Elke week zijn er een aantal <b> <span class="easy">makkelijke</span>, <span class="medium">medium</span> en <span class="hard">moeilijke</span></b> opdrachten waar je in het practicum aan gaat werken. 
				Aan het begin kan je de uitwerking van de opdrachten aan je docent laten zien. Deze zal ze afvinken en je zult hiervoor avans punten krijgen.
				</p>
				
				<p>
				Voor het huiswerk van elke weeg staat er een start project klaar. 
				Deze startprojecten zijn onderdeel van de github repository waarmee dit webdictaat gemaakt is. 
				Om deze start projecten te gebruiken kun je het beste de github repo clonen. 
				Rechts van dit informatie blok staat een link en een clone button.
				Voor elk project is meteen een uitwerking toegevoegd. Gebruik deze om te spieken als je er even niet meer uit komt.
				</p>

					</br>
				

  		<p>Voor alle opdrachten geldt dat het gebruik van de Toolbox en GUI wizards niet is toegestaan. Alle opdrachten moeten rechtstreeks in XAML gebouwd worden. </p>
			
				
				<p>
				De workshop opdrachten zijn tevens huiswerk opdrachten. Deze opdrachten zijn oefenmateriaal voor het assessment aan het einde van dit blok. 
				De opdrachten zijn niet verplicht, maar de eindopdracht wordt pittig. 
				Ik kan je aanraden deze opdrachten dus netjes bij te houden. 
				</p>
				
				<p>
				Ready? Set? <b>Go!</b>
				</p>
			</section>
			
		</article>
		
		<article class="sample shadow-z-1 easy" assignment="music"> 
			
			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	
			
			<section class="main">
				<p>
				Deze workshop opdrachten beginnen met een solution die je kan clonen uit Github. Op deze solution zal je code aanpassingen moeten doen om de opdracht te voltooien.		
				</p>
				
				<p>Project: <b>MusicCollectionMVVM</b></p>
				
				<p>	
					Kom je er niet uit? Kijk nog eens goed naar de lesstof op het webdictaat!
				</p>
			</section>
			
				
			<section class="easy sub">
			
				
				
				<div class="row">
					<div class="col-md-7">
						<h3>CR-Update-D</h3>
						<p>
						De <strong>Create</strong> en <strong>Read</strong> actie van onze CRUD werken. Nu moet de <strong>Update</strong> 
						actie nog ge&iuml;mplementeerd worden. Zorg ervoor dat je op een element in de lijst kan klikken, en de waardes van dit element
						in de velden van Add new Song terecht komen. 
						</p>
						<p>
							<i>Tip: Maak gebruik van de property <strong>SongViewModel</strong> op het <strong>SongListViewModel</strong>.</i>    
						
						</p>
					</div>
					<div class="col-md-5 text-center">
						<img src="week4/img/UpdateDelete.png"  alt="Update Delete" class="photo" />
					</div>
				</div>

			</section>

			<section class="medium sub">
			
				
				<div class="row">

					<div class="col-md-7">
						<h3>CRU-Delete</h3>
						<p>
							De <strong>Create</strong>, <strong>Read</strong> en <strong>Update </strong>actie van onze CRUD werken. Nu moet de <strong>Delete</strong> 
							actie nog ge&iuml;mplementeerd worden. Zorg ervoor dat de MusicCollection Applicatie deze functionaliteit ook ondersteunt. Voeg een
							knop toe aan de applicatie waarmee een geselecteerd liedje verwijderd wordt uit de lijst. 
							
						</p>
						<p>
							Daarnaast moet je de huidige selectie kunnen clearen zodat het weer mogelijk is om een nieuwe <strong>Song</strong> toe te voegen.
							Voeg een knop toe aan de applicatie waarmee de huidige selectie leeg wordt. 
						</p>
						<p>
							<i>Tip: Maak gebruik van een <strong>RelayCommand</strong></i>    
						
						</p>
					</div>
					<div class="col-md-5 text-center">
						<img src="week4/img/ClearDelete.png" alt="Clear Delete" class="photo" />
					</div>
					
				</div>
				
			</section>
			
			<section class="hard sub">
				<h3>Voor de mensen die van een uitdaging houden!</h3>
				<div class="row">
					<div class="col-md-8">
						
						
						<p>
							Implementeer de onderstaande functionaliteit:
						</p>
						
						<ul>
							<li>Disable de Add button als de velden leeg zijn <strong>of</strong> als er een bestaand liedje geselecteerd is.</li>
							<li>Disable de Delete button als er geen bestaand liedje geselecteerd is.</li>
						</ul>
						
						<p>
							Om de bovestaande functionaliteit te implementeren zal je de implementatie van de RelayCommand moeten aanpassen. 
							Deze ondersteunt op dit moment nog geen werkende <strong>CanExecute</strong> methode. 
							Implementeer deze functionaliteit via een een <strong>delegate</strong>.
						</p>
			
						<p>
						<i>Tip: Lees <a target="_blank" href="http://www.codeproject.com/Tips/782169/Attributed-RelayCommandd">dit artikel</a> voor meer informatie.</i>
						</p>
						
					</div>
					<div class="col-md-4 text-center">
						<img src="week4/img/delegates.png" class="photo"/>
					</div>
				</div>
			</section>
			
					
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
		
		<article class="sample shadow-z-1 medium" assignment="musicFramework"> 
			
			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	

			<section class="main">
				<p>
				Deze workshop opdrachten beginnen met een solution die je kan clonen uit Github. Op deze solution zal je code aanpassingen moeten doen om de opdracht te voltooien.		
				</p>
				
				<p>Project: <b>MusicCollectionMVVMLight</b></p>
			</section>
			
				
			<section class="easy sub ">
				
				 <h3>Zoek de verschillen</h3>
         
				<p>
					Het voorbeeld project is dezelfde MvvM Applicatie als de MusicCollection uit opdracht A, maar deze versie van het project is geïmplementeerd met het MvvM Light
				framework. Het lijkt erg op elkaar, maar er zijn toch een aantal verschillen. Zoek de verschillen!</p>
				
				<p>
					De Docent geeft een link naar <a target="_blank" href="http://answergarden.ch/">answergarden.ch/</a> waar je de verschillen kunt noteren. 
				</p>
				
			</section>

			<section class="medium sub">
				<h2>Music Player</h2>
      
	  			<div class="row">
					<div class="col-md-8">
						<p>
							MvvM biedt ons de mogelijkheid om meerdere views op een view model aan te sluiten. Maak een tweede view voor de MusicCollection 
							waarmee je door de liedjes heen kunt bladeren. Maak een nieuwe Window aan in het project en 
							geef in de App.XAML aan dat je gebruik wil gaan maken van deze Window. 
							Zorg ervoor dat je met een  <strong>Vorige</strong> en <strong>Volgende</strong> knop door de collectie met liedjes kan heen bladeren. 
							
						</p>
				
						<p>
							Er zijn aanpassing op het View Model nodig om dit voor elkaar te krijgen. 
						</p>
				
					</div>
					<div class="col-md-4 text-center">
							<img src="week4/img/musicplayer.png" class="photo" alt="Music Player">
					</div>
	  			</div>
				  
			</section>

			<section class="hard sub">
				
      
	  			<div class="row">
					<div class="col-md-8">
						 <h3>Challange accepted!</h3>
						<p>
							Verzin een manier om te kunnen switchen tussen de twee views in de applicatie (MainWindow.Xaml en de Window uit de vorige opdracht). 
							Allebei de windows moeten gebruik maken van hetzelfde View Model (als je in de ene view een nieuw liedje toevoegt, moet deze in de andere
							view in de lijst komen te staan).
							
						</p>
				
					</div>
					<div class="col-md-4 text-center">
							<img src="week4/img/ca.png" class="photo" alt="Challange Accepted!">
					</div>
				</div>

			</section>
			
					
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
		
		
		<article class="sample shadow-z-1 hard" assignment="crud"> 
			
			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	

			<section class="main">
				<p>
					Voor deze huiswerk opdracht mag je zelf een onderwerp verzinnen waar je een <strong>CRUD</strong> applicatie voor gaat bouwen. Voor de eerste opdracht
					moet je een CRUD applicatie maken met de volgende eisen:
				</p>
			</section>
			

			<section class="medium sub">
				<h2>My CRUD App</h2>
				
				<div class="row">
					<div class="col-md-8"> 
						
							<ul>
								<li>Maak gebruik van een extern MvvM framework (bijv. MvvM Light)</li>
								<li>Gebruik een ViewModelLocator</li>
								<li>De Applicatie heeft 1 window met de volgende functionaliteit:
									<ul>
										<li>Het tonen van een lijst van elementen</li>
										<li>Het toevoegen van een nieuw element</li>
										<li>Het wijzigen van een bestaand element</li>
										<li>Het verwijderen van een bestaand element</li>
								
									</ul>
								</li>
							</ul>
							
							<p>
								De manier waarop je de applicatie vorm geeft mag je zelf invullen. Mogelijke onderwerpen voor de CRUD applicatie zijn:
							</p>
							<ul>
								<li>Een kook boek met recepten</li>
								<li>Een collectie van quotes van je vakdocent</li>
								<li>Een TODO list</li>
							</ul>
				
					</div>
					<div class="col-md-4 text-center">
						<img src="week4/img/CRUD.png" alt="CRUD" class="photo" />
					</div>
				</div>
			
			</section>

			<section class="hard sub">
				   <h2>Tweede View</h2>
					<p>
						Voeg een tweede View toe aan je applicatie waarin je met een <strong>vorige</strong> en <strong>volgende</strong> 
						knop door de collectie van je CRUD applicatie heen kan bladeren. Maak gebruik van het zelfde View Model en Model. 
						Het moet ook mogelijk zijn om vanuit de nieuwe view gegevens van elementen te kunnen wijzigen. 
					</p>
			</section>
			
					
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
		
		


		
		
		<!-- einde huiswerk -->
		
		
	</div>
	<div class="col-md-3">
		
		<div class="sideNav">
				
			<!-- header -->
			<article class="sample shadow-z-1">
				<section class="header">
					<span>Github</span>
				</section>
				<section class="main">
				 <a  target="_blank" href="https://github.com/Avans/Prog5/">https://github.com/Avans/Prog5/</a></br>
						   					  <a class="md-col-3" href="github-windows://openRepo/https://github.com/Avans/Prog5/">
						</button>
						<button class="btn btn-inverse btn-raised">Clone To Desktop<div class="ripple-wrapper"></div></button>
					  </a>
			</section>
			</article>	
			
		</div>
		
	</div>
