
	<!--<div class="col-md-3 " ng-controller="overviewCtrl">
		
		<div class="sideNav">

			<article class="sample shadow-z-1">
				<section class="header">
					<span>Overview</span>
				</section>
			</article>
			
			<article id="overview" class="shadow-z-1 fixedContent">
				<img src="week3/img/pointer.png" class="pointer"></img>
				<section class="main">
					<ul >
						<li><a ng-click="scrollTo('#inleiding')">Inleiding</a></li>
						<li><a ng-click="scrollTo('#opdracht2')">Telefoonboek</a></li>
					</ul>
				</section>
			</article>
		</div>

	</div>-->

	<div class="col-md-6 article-container">
		
		<section class="preHeader">
		 	<h2>Opdrachten week 3</h2>
		</section>
		
		<article class="sample shadow-z-1" id="inleiding" >
			<section class="header">
				<span>Inleiding</span>
			</section>
			<section class="main">
			
				<p>
				Op deze pagina vind je de opdrachten voor week 3. 
				</p>
				
				<p>
				Elke week zijn er een aantal <b> <span class="easy">makkelijke</span>, <span class="medium">medium</span> en <span class="hard">moeilijke</span></b> opdrachten waar je in het practicum aan gaat werken. 
				Aan het begin kan je de uitwerking van de opdrachten aan je docent laten zien. Deze zal ze afvinken en je zult hiervoor avans punten krijgen.
				</p>
				
				<p>
				Voor het huiswerk van elke weeg staat er een start project klaar. 
				Deze startprojecten zijn onderdeel van de github repository waarmee dit webdictaat gemaakt is. 
				Om deze start projecten te gebruiken kun je het beste de github repo clonen. 
				Rechts van dit informatie blok staat een link en een clone button.
				Voor elk project is meteen een uitwerking toegevoegd. Gebruik deze om te spieken als je er even niet meer uit komt.
				</p>

					</br>
				
  				<p>Voor alle opdrachten geldt dat het gebruik van de Toolbox en GUI wizards niet is toegestaan. Alle opdrachten moeten rechtstreeks in XAML gebouwd worden. </p>
				
				<p>
				De workshop opdrachten zijn tevens huiswerk opdrachten. Deze opdrachten zijn oefenmateriaal voor het assessment aan het einde van dit blok. 
				De opdrachten zijn niet verplicht, maar de eindopdracht wordt pittig. 
				Ik kan je aanraden deze opdrachten dus netjes bij te houden. 
				</p>
				
				<p>
				Ready? Set? <b>Go!</b>
				</p>
			</section>
			
		</article>
		
		<article class="sample shadow-z-1 easy" assignment="XAML"> 
			
			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	
			
			<section class="main">
				<p>
				Deze workshop opdrachten beginnen met een solution die je kan clonen uit Github. Op deze solution zal je code aanpassingen moeten doen om de opdracht te voltooien.		
				</p>
				
				<p>Project: XAMLDemo</p>
				
				<p>	
					"Kijk goed naar de voorbeelden in het start project!"
					Voor alle opdrachten geldt dat het gebruik van de Toolbox en GUI wizards niet is toegestaan. Alle opdrachten moeten rechtstreeks in XAML gebouwd worden.
				</p>
			</section>
			
				
			<section class="easy sub">
			
				<h3>XAML Elementen</h3>
				<p>Voeg 3 nieuwe elementen toe aan je MainWindow zonder de Toolbox te gebruiken. In het MainWindow staan al 4 cellen. Plaats een element in het midden van een cel, waarbij ieder element in een andere cel komt. Twee verplichten elementen zijn een Textbox en een Button. Het derde element mag je zelf uitkiezen.</p>

			</section>

			<section class="medium sub">
			
				
				<h3>Containers</h3>
				<p>De eerste opdracht al af? Dat is snel!</p>
				<p>Geef de applicatie de kleuren van de Nederlandse vlag. Om dit te doen moet je 1 extra Row toevoegen aan het Grid. Vul deze Row ook weer met twee nieuwe elementen. Geef daarna de Rows de juiste achtergrond kleur.</p>	

				
			</section>

			<section class="hard sub">
					
				<h3>Resources</h3>
				<p>In het dictaat hebben we al een hoop tags besproken. Maar dat is nog maar een fractie van alle mogelijkheden!</p>
				
		
				
				<p>Lees het volgende artikel: <a target="_blank" href="http://msdn.microsoft.com/en-us/library/ms750613(v=vs.100).aspx">http://msdn.microsoft.com/en-us/library/ms750613(v=vs.100).aspx</a></p>
				<p>Maak een nieuwe resource aan in de App.xaml om de styling van een border te vullen. Pas de zelf gemaakte resource toe op de borders in de MainWindow. </p>

			</section>
			
					
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
		
		<article class="sample shadow-z-1 medium" assignment="CenC"> 
			
			<!-- Custom header -->
			<section class="header">
				
				<span>Opdracht - COMMAND AND <span class="wrong">CONQUER</span> <span class="hard">BIND</span></span>
	
				<span class="glyphicon glyphicon-bookmark" aria-hidden="true">
					<div>{{assignment.points}}</div>
				</span>
				<span ng-show="assignment.firstblood" class="glyphicon glyphicon-tint firstblood" title="Firstblood by: {{assignment.firstblood}}" "></span>
			</section>

			<section class="main">
				<p>
				Deze workshop opdrachten beginnen met een solution die je kan clonen uit Github. Op deze solution zal je code aanpassingen moeten doen om de opdracht te voltooien.		
				</p>
				
				<p>Project: CommandingAndBindingDemo</p>
			</section>
			
				
			<section class="easy sub ">
				<h3>Binding</h3>
				<div class="row">
					<div class="col-md-8">
						
						De applicatie bestaat uit een schuifbalk waarmee je de temperatuur kunt aangeven. De waarde van de temperatuur zie je terug aan het getal boven in en de temperatuurmeter links. Nu is het de bedoeling dat je ook aan de kleurenbalk de temperatuur kunt zien. Zorg er voor dat de breedte van de temperatuurbalk overeenkomt met de temperatuur die je aangeeft met de schuifbalk. 
					</div>
					
					<div class="col-md-4 text-center">
						<img src="week3/img/gradientBar.png" class="img-thumbnail" alt="Gradient Bar">
					</div>
				</div>
			</section>

			<section class="medium sub">
				<h3>Commanding</h3>
				<div class="row">
					<div class="col-md-8">
						<p>De eerste opdracht al af? Dat is snel!</p>
						<p>De applicatie heeft een knop genaamd ‘Set Low’ waarmee de temperatuur op 0 gezet kan worden, en die gedisabled is als de temperatuur onder de 10 graden komt. Implementeer de Set High knop op dezelfde manier. 
						De temperatuur moet op 300 gezet worden en moet gedisabled worden als de temperatuur hoger is dan 200.
						</p>
					</div>
					<div class="col-md-4 text-center">
							<img src="week3/img/setHigh.png" class="img-thumbnail" alt="Set High Button">
					</div>
				</div>
			</section>

			<section class="hard sub">
				<h2>Converting</h2>
				<div class="row">
					
					<div class="col-md-8">
						<p>
							De applicatie heeft een ‘value converter’ die de waarde van de temperatuur omzet naar een ‘hoek’ waarin het plaatje van de meter zich bevindt. 
							Dit geeft de illusie dat de meter de juiste temperatuur aangeeft. Nu willen we dat iedereen gebruik kan maken van onze temperatuurmeter en 
							willen we ook de mogelijkheid tot het tonen van de temperatuur in Fahrenheit.      
						</p>
				
						<p>
							Implementeer een Value converter voor het omtoveren van de temperatuur in Celsius naar de temperatuur in Fahrenheit
							en toon deze temperatuur in de applicatie.   
						</p>
					</div>
					<div class="col-md-4 text-center">
							<img src="week3/img/fahrenheit.png" class="img-thumbnail" alt="Fahrenheit">
					</div>
				</div>
			</section>
			
					
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
		
		
		<article class="sample shadow-z-1 hard" assignment="currency"> 
			
			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	

			<section class="main">
				<p>
				Deze workshop opdrachten is er geen start project. Voor de eerste keer moet je een WPF applicatie van de grond af opbouwen!
				Success!
				</p>
			</section>
			
				
			<section class="easy sub ">
				<h3>My First WPF</h3>

				Bouw een WPF applicatie waar de waarde van een bedrag op een model getoond wordt in euro's. 
				Gebruik hiervoor de data-binding technieken die je in de les geleerd hebt. 
				De volgende eisen en technieken zijn verplicht:
				<ul>
					<li>XAML Textbox voor het wijzigen van het bedrag</li>
					<li>Data-Binding</li>
					<li>Een XAML container om de layout netjes te houden</li>
					<li>Overzichtelijke XAML</li>
				</ul>

			</section>

			<section class="medium sub">
				<h3>Currency Calculator</h3>
				<div class="row">

						<div class="col-md-8">
						
							<p>
								We gaan onze eerste opdracht uitbreiden met een tweede TextBox veld.
								Dit veld toont het bedrag in Dollar (of een andere vorm van Currency). 
								Als de gebruiker het bedrag in dollars aanpast moet de waarde van het bedrag in euro's automatisch mee veranderen (en visa versa).
							</p>
					
							<p>
								<i>Tip: Gebruik de mogelijkheden van de class <strong>ValueConverter</strong></i>
							</p>
					
							<p>
								Link voor currency: <a target="_blank" href="http://www.x-rates.com/calculator/">http://www.x-rates.com/calculator/</a>
							</p>
					
					
						</div>
						<div class="col-md-4 text-center">
							<img src="week3/img/currency.jpg" />
						</div>
				</div>
			</section>

			<section class="hard sub">
				<h3>"Tijd voor Creativiteit" - Fresku</h3>
				<div class="row">	
					<div class="col-md-8">
						<p>
							Onze currency calculator is nu bijna klaar. Maar naar getallen staren is zo saai! <strong>:( </strong> 
							Ik zou graag een visuele implementatie zien van het verschil in currency.
							Maak een visuele implementatie van de waarde van het bedrag in Euros of Dollars. 
							Denk hierbij bijvoorbeeld aan een stapel muntjes of een grafiekje. Je mag natuurlijk ook zelf een visuele implementatie bedenken.
						</p>
					</div>    
					<div class="col-md-4 text-center">
						<img src="week3/img/coins.jpg" />
					</div>
				</div>
			</section>
			
					
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
		
		


		
		
		<!-- einde huiswerk -->
		
		
	</div>
	<div class="col-md-3">
		
		<div class="sideNav">
				
			<!-- header -->
			<article class="sample shadow-z-1">
				<section class="header">
					<span>Github</span>
				</section>
				<section class="main">
				 <a  target="_blank" href="https://github.com/Avans/Prog5/">https://github.com/Avans/Prog5/</a></br>
						   					  <a class="md-col-3" href="github-windows://openRepo/https://github.com/Avans/Prog5/">
						</button>
						<button class="btn btn-inverse btn-raised">Clone To Desktop<div class="ripple-wrapper"></div></button>
					  </a>
			</section>
			</article>	
			
		</div>
		
	</div>
