
	<!--<div class="col-md-3 " ng-controller="overviewCtrl">
		
		<div class="sideNav">

			<article class="sample shadow-z-1">
				<section class="header">
					<span>Overview</span>
				</section>
			</article>
			
			<article id="overview" class="shadow-z-1 fixedContent">
				<img src="img/pointer.png" class="pointer"></img>
				<section class="main">
					<ul >
						<li><a ng-click="scrollTo('#inleiding')">Inleiding</a></li>
						<li><a ng-click="scrollTo('#opdracht2')">Telefoonboek</a></li>
					</ul>
				</section>
			</article>
		</div>

	</div>-->

	<div class="col-md-6 article-container">
		
		<section class="preHeader">
		 	<h2>Opdrachten week 5</h2>
		</section>
		
		<article class="sample shadow-z-1" id="inleiding" >
			<section class="header">
				<span>Inleiding</span>
			</section>
			<section class="main">
			
				<p>
				Op deze pagina vind je de opdrachten voor week 5. 
				</p>
				
				<p>
				Elke week zijn er een aantal <b> <span class="easy">makkelijke</span>, <span class="medium">medium</span> en <span class="hard">moeilijke</span></b> opdrachten waar je in het practicum aan gaat werken. 
				Aan het begin kan je de uitwerking van de opdrachten aan je docent laten zien. Deze zal ze afvinken en je zult hiervoor avans punten krijgen.
				</p>
				
				<p>
				Voor het huiswerk van elke weeg staat er een start project klaar. 
				Deze startprojecten zijn onderdeel van de github repository waarmee dit webdictaat gemaakt is. 
				Om deze start projecten te gebruiken kun je het beste de github repo clonen. 
				Rechts van dit informatie blok staat een link en een clone button.
				Voor elk project is meteen een uitwerking toegevoegd. Gebruik deze om te spieken als je er even niet meer uit komt.
				</p>

					</br>
				

				<p>
					Daarnaast bevat elke opdracht, ook een <b>Unit test</b> project en een aantal <b>interface</b> objecten. 
					Gebruik deze interfaces om je eigen objecten te immplementeren, en run de tests om te controlleren of de opdracht goed is.
				</p>	
			
				
				<p>
				De workshop opdrachten zijn tevens huiswerk opdrachten. Deze opdrachten zijn oefenmateriaal voor het assessment aan het einde van dit blok. 
				De opdrachten zijn niet verplicht, maar de eindopdracht wordt pittig. 
				Ik kan je aanraden deze opdrachten dus netjes bij te houden. 
				</p>
				
				<p>
				Ready? Set? <b>Go!</b>
				</p>
			</section>
			
		</article>
		
		<article class="sample shadow-z-1 easy" assignment="??"> 
			
			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	
			
		
					
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
				


	</div>
	<div class="col-md-3">
		
		<div class="sideNav">
				
			<!-- header -->
			<article class="sample shadow-z-1">
				<section class="header">
					<span>Github</span>
				</section>
				<section class="main">
				 <a  target="_blank" href="https://github.com/Avans/Prog5/">https://github.com/Avans/Prog5/</a></br>
						   					  <a class="md-col-3" href="github-windows://openRepo/https://github.com/Avans/Prog5/">
						</button>
						<button class="btn btn-inverse btn-raised">Clone To Desktop<div class="ripple-wrapper"></div></button>
					  </a>
			</section>
			</article>	
			
		</div>
		
	</div>
